{{template "header"}}
  <title>主页 - 我的beego博客</title>
</head>
<body style="padding-top: 50px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{template "navbar" .}}
    </div>
  </nav>
  <section>
    <div class="container">
      <div class="col-md-9">
      {{range .Topics}}
      <div class="page-header">
        <h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>
        <h6 class="text-muted">文章发表于{{.Created}}，共有 {{.Views}} 次浏览，{{.ReplyCount}} 个评论</h6>
        <p>
          {{.Content}}
        </p>
      </div>
      {{end}}
      </div>

      <div class="col-md-3">
        <h3>项目列表</h3>
        <ul>
          {{range .Categories}}
            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </section>  
  <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-3.3.6.min.js"></script>
</body>
</html>